@page "/game/{id:guid}"

<PageTitle>Game details</PageTitle>

<h1>Game details</h1>

<p>Game Id: @Id</p>
<p>Game Status: @Game?.GameStatus</p>
<p>Word: @Game?.Word</p>
<p>Incorrect guesses left: @Game?.IncorrectGuessesLeft</p>
<p>Guesses: @Game?.Guesses</p>

