@page "/"
@page "/home"
@attribute [Authorize]

<PageTitle>Hangman games</PageTitle>

<h1>View all your games of Hangman, @Name</h1>

@if (Games.Count == 0)
{
    <h2>Loading...</h2>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Game ID</th>
                <th>Game Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in Games)
            {
                <tr>
                    <td>@game.GameId</td>
                    <td>@game.GameStatus</td>
                    <td><a href="game/@game.GameId">View details</a></td>
                </tr>
            }
        </tbody>
    </table>
}