@page "/"

<PageTitle>Hangman games</PageTitle>

<h1>View all your games of Hangman</h1>

<table class="table">
    <thead>
        <tr>
            <th>Game ID</th>
            <th>Game Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Games)
        {
            <tr>
                <td>@game.GameId</td>
                <td>@game.GameStatus</td>
                <td><a href="game/@game.GameId">View details</a></td>
            </tr>
        }
    </tbody>
</table>