@page "/"
@page "/home"
@using Hangman.Blazor.Pages.Index.Components.GamesTable

<PageTitle>Hangman games</PageTitle>

<h1>View all your games of Hangman, @Name</h1>

@if (Games.Count == 0)
{
    <h2>Loading...</h2>
}
else
{
    <GamesTable Games="@Games" />
}